@import "mixins";
@import "spinner";

#toplevel_page_inventorize-dashboard .wp-menu-image:before {
  -webkit-transform: rotate(180deg);
  -khtml-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  color: orange !important; 
}

#poststuff #taxonomy .inside,
#poststuff #support .inside,
#poststuff #options .inside,
#poststuff #types .inside,
#poststuff #screen .inside,
#poststuff .postbox-field .inside {
	padding: 0;
	margin: 0;
}

.chosen-container-multi .chosen-choices {
	border-color: #ccc;
	padding: 3px 6px;
	margin-top: 10px;
}

.chosen-container-multi.chosen-container .chosen-choices::after {
	background: url("../vendor/chosen/chosen-sprite.png") no-repeat 3px 5px;
	width: 20px;
	height: 100%;
	content: "";
	position: absolute;
	right: 0;
}

.btn-add-cus-field.button-primary {
	display: block;
	padding: 0 10px;
	margin-bottom: 5px;
	height: 40px;
}

.btn-add-cus-field.button-primary span,
.btn-add-cus-field.button-primary strong {
	display: inline-block;
	line-height: 40px;
}

.inv-cus-field-wrp {
	display: block;
	margin: 15px 0 0;
}